 .block-map {
    .block_grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 10px;
      column-gap: 30px;
      row-gap: 30px;
  
    }
    .block-item-wrapper {
      position: relative;
    }
    .block_item {
      position: relative;
      background-color: #f5f5f5;
      border-bottom: 5px solid #5b8726;
      padding: 20px;
      font-size: 30px;
      text-align: left;
      width: 338px;
      min-height: 149px;
      align-items: center;
      display: grid;
      z-index: 2;
      box-sizing: border-box;
    }

    .block_subitem {
      font-size: 20px;
    }

    .purhcases{
      background-color: #f4dab9;
    }

    .sales{
      background-color: #b9e6f4;
    }
    p.need {
      font-size: 16px;
      font-weight: 700;
    }
  }
  
  .dashed-line {
    position: absolute;
    height: 2px;
    width: 300px;
    left: -300px;
    z-index: 1;
    top: calc(50% - 6px);
    border-bottom: 2px dashed lightblue;
  }
  
  .block-item-wrapper:nth-child(3n + 1) .dashed-line {
    display: none;
  }
  