<p>Invoice && Invoice Payment</p>


<div class="d-flex flex-row">
      <div><button style="width: 120px;" class="btn btn-primary" (click)="changePage('list')" >List</button></div>
      <div *ngIf="selectInvoice !== ''"><button style="width: 120px; transition: 1s;" class="btn btn-warning" (click)="changePage('new')" >{{'Payment'}}</button></div>
      <div *ngIf="selectInvoice === ''"><button style="width: 120px; transition: 1s;" class="btn btn-warning disabled" >{{'Payment'}}</button></div>
      <!-- <div><button style="width: 80px;" class="btn btn-info" >Update</button></div>
      <div><button style="width: 80px;" class="btn btn-warning" (click)="clear()">Clear</button></div>
      <div><button style="width: 80px;" class="btn btn-danger" >Cancel</button></div> -->
</div>

<div *ngIf="page=='list'" class="col-12">
    <div class="col-12">  
        <mat-form-field class="col-12" appearance="fill">
            <mat-label>ID</mat-label>
            <input [value]="currentSupplierInvoice.id" disabled matInput>
        </mat-form-field>

        <mat-form-field class="col-12" appearance="fill">
            <mat-label>Select Supplier</mat-label>
            <mat-select>
                <mat-option value="one">First option</mat-option>
                <mat-option value="two">Second option</mat-option>
            </mat-select>
        </mat-form-field>
        </div>

    <div class="col-12">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 col-12">

            <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
            <!-- Position Column -->
        
            <!-- Name Column -->
            <ng-container matColumnDef="supplierId">
            <th mat-header-cell *matHeaderCellDef>Supplier Name </th>
            <td mat-cell *matCellDef="let element">  {{element.supplierId}} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="invoiceNo">
            <th mat-header-cell *matHeaderCellDef> Invoice No </th>
            <td mat-cell *matCellDef="let element"> {{element.invoiceNo}} </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>

            <ng-container matColumnDef="totalAmount">
            <th mat-header-cell *matHeaderCellDef> totalAmount </th>
            <td mat-cell *matCellDef="let element"> {{element.totalAmount}} </td>
            </ng-container>

            <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> date </th>
            <td mat-cell *matCellDef="let element"> {{element.date | dateFormatPipe }} </td>
            </ng-container>

            <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <ng-container matColumnDef="userId">
                <th mat-header-cell *matHeaderCellDef> User </th>
                <td mat-cell class="" *matCellDef="let element"> {{element.userId}}  </td>
            </ng-container>

            <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Invoice Details </th>
            <td mat-cell  *matCellDef="let element">  
                <span class="btn btn-info">
                  {{element.supplierInvoiceDetail.length}}
                </span>
                <!-- <button  class="btn btn-outline-danger" (click)="deleteData(element.id)"> <i class="fas fa-trash-alt">Delete</i></button> -->
                <!-- &nbsp; <button  class="btn btn-outline-info" (click)="updateData(element.id)"> <i class="fas fa-trash-alt">Update</i></button> -->
                &nbsp;      
            </td>
            </ng-container>
        
            <tr mat-header-row class="text-center" *matHeaderRowDef="displayedColumns"></tr>
            <tr (click)="clickCurrentInvoice(row.id,row)" id="{{row.id}}" style="{{row.id== selectInvoice?'background-color: blanchedalmond; transition: 0.8s;':'background-color: white; transition: 0.8s;'}}" ngClass mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>

<div *ngIf="page=='new'">  
    <div  class="d-flex">

    <div class="col-6" *ngIf="subpage !=='detail'">
        <div class="col-12">  
            <mat-form-field class="col-12" appearance="fill">
                <mat-label>ID</mat-label>
                <input [value]="currentSupplierInvoice.id" disabled matInput>
            </mat-form-field>

            <mat-form-field class="col-12" appearance="fill">
                <mat-label>Supplier </mat-label>
                <input [value]="getName(selectName)" disabled="" matInput>
            </mat-form-field>

            <div>
                <mat-form-field class="col-4" appearance="fill">
                    <mat-label>Invoice No</mat-label>
                    <input [value]="currentSupplierPayment.supplierInvoiceNo" disabled matInput>
                </mat-form-field>
            

                <mat-form-field class="col-4" appearance="fill">
                    <mat-label>Date</mat-label>
                    <input (dateInput)="dateChange($event.value)" matInput [matDatepicker]="invoiceDate">
                    <mat-datepicker-toggle matSuffix [for]="invoiceDate"></mat-datepicker-toggle>
                    <mat-datepicker #invoiceDate></mat-datepicker>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                </mat-form-field>  
            </div>

            <div>
                <mat-form-field class="col-4" appearance="fill">
                    <mat-label>Total Amount</mat-label>
                    <input [value]="currentSupplierPayment.totalAmount" disabled matInput>
                </mat-form-field>
            
                <mat-form-field class="col-4" appearance="fill">
                    <mat-label>Payment Amount</mat-label>
                    <input [value]="currentSupplierPayment.paymentAmount" (blur)="paymentAmountChange($event)" matInput>
                </mat-form-field>

                <mat-form-field class="col-4" appearance="fill">
                    <mat-label>Remain Amount</mat-label>
                    <input [value]="currentSupplierPayment.remainBalance" disabled matInput>
                </mat-form-field>
            </div>

            <div class="d-flex">
                <div class="ml-4">
                    <button class="btn btn-primary" (click)="register()" type="submit">Register</button>
                    <button class="btn btn-danger" (click)="clear()">Clear</button>
                </div>

            </div>
        </div> 
    </div>


    <div class="col-6">
        <div class="col-12">
            <table mat-table [dataSource]="dataSourceDetails" class="mat-elevation-z8 col-12">
    
                <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
                <!-- Position Column -->
            
                <!-- Name Column -->
                <ng-container matColumnDef="supplierInvoiceId">
                <th mat-header-cell *matHeaderCellDef>Supplier Name </th>
                <td mat-cell *matCellDef="let element">  {{element.supplierInvoiceId}} </td>
                </ng-container>
            
                <!-- Weight Column -->
                <ng-container matColumnDef="productId">
                <th mat-header-cell *matHeaderCellDef> Product Id </th>
                <td mat-cell *matCellDef="let element"> {{element.productId}} </td>
                </ng-container>
            
                <!-- Symbol Column -->
                <ng-container matColumnDef="purchaseQty">
                <th mat-header-cell *matHeaderCellDef> Purchase Qty </th>
                <td mat-cell *matCellDef="let element"> {{element.purchaseQty}} </td>
                </ng-container>
    
                <ng-container matColumnDef="purchaseUnitPrice">
                <th mat-header-cell *matHeaderCellDef> purchaseUnitPrice </th>
                <td mat-cell *matCellDef="let element"> {{element.purchaseUnitPrice}} </td>
                </ng-container>

                <!-- <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell  *matCellDef="let element">  
                        <button  class="btn btn-outline-danger" (click)="deleteDetailData(element.id, element)"> <i class="fas fa-trash-alt">Delete</i></button>
                      &nbsp;      
                    </td>
                </ng-container> -->
            
                <tr mat-header-row *matHeaderRowDef="displayedColumnsDetails"></tr>
                <tr (click)="clickCurrentDetail(row.id,row)" id="{{row.id}}" style="{{row.id== selectInvoiceDetail?'background-color: blanchedalmond; transition: 0.8s;':'background-color: white; transition: 0.8s;'}}" ngClass mat-row *matRowDef="let row; columns: displayedColumnsDetails;"></tr>
            </table>
        </div>
    </div>

    </div>

    <div class="col-12">
        <div class="col-12">
            <table mat-table [dataSource]="dataSourcePayment" class="mat-elevation-z8 col-12">
    
                <ng-container matColumnDef="paymentId">
                <th mat-header-cell *matHeaderCellDef>Id </th>
                <td mat-cell *matCellDef="let element">  {{element.paymentId}} </td>
                </ng-container>

                <ng-container matColumnDef="supplierInvoiceNo">
                <th mat-header-cell *matHeaderCellDef>Invoice No </th>
                <td mat-cell *matCellDef="let element">  {{element.supplierInvoiceNo}} </td>
                </ng-container>

                <ng-container matColumnDef="invoiceNo">
                <th mat-header-cell *matHeaderCellDef>Invoice No </th>
                <td mat-cell *matCellDef="let element">  {{element.invoiceNo}} </td>
                </ng-container>

                <ng-container matColumnDef="supplierId">
                <th mat-header-cell *matHeaderCellDef>Supplier Name </th>
                <td mat-cell *matCellDef="let element">  {{element.supplierId}} </td>
                </ng-container>

                <ng-container matColumnDef="supplierInvoiceId">
                <th mat-header-cell *matHeaderCellDef>Supplier Name </th>
                <td mat-cell *matCellDef="let element">  {{element.supplierInvoiceId}} </td>
                </ng-container>
            
                <!-- Weight Column -->
                <ng-container matColumnDef="productId">
                <th mat-header-cell *matHeaderCellDef> Product Id </th>
                <td mat-cell *matCellDef="let element"> {{element.productId}} </td>
                </ng-container>
            
                <!-- Symbol Column -->
                <ng-container matColumnDef="totalAmount">
                <th mat-header-cell *matHeaderCellDef> Total Amount </th>
                <td mat-cell *matCellDef="let element"> {{element.totalAmount}} </td>
                </ng-container>
    
                <ng-container matColumnDef="paymentAmount">
                <th mat-header-cell *matHeaderCellDef> Payment Amount </th>
                <td mat-cell *matCellDef="let element"> {{element.paymentAmount}} </td>
                </ng-container>

                <ng-container matColumnDef="remainBalance">
                <th mat-header-cell *matHeaderCellDef> Remain Balance </th>
                <td mat-cell *matCellDef="let element"> {{element.remainBalance}} </td>
                </ng-container>

                <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.date | dateFormatPipe}} </td>
                </ng-container>

                <ng-container matColumnDef="userId">
                <th mat-header-cell *matHeaderCellDef> User Id </th>
                <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell  *matCellDef="let element">  
                        <button  class="btn btn-outline-danger" (click)="deletePaymentData(element.id, element)"> <i class="fas fa-trash-alt">Delete</i></button>
                      &nbsp;      
                    </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumnsPayment"></tr>
                <tr (click)="clickCurrentDetail(row.id,row)" id="{{row.id}}" style="{{row.id== selectPayment?'background-color: blanchedalmond; transition: 0.8s;':'background-color: white; transition: 0.8s;'}}" ngClass mat-row *matRowDef="let row; columns: displayedColumnsPayment;"></tr>
            </table>
        </div>
    </div>
</div>
