<body>

  <section class="block-map">
    <div class="bound-layout example-boundary">

      <div class="block_grid">

        <div class="block-item-wrapper">
          <div class="dashed-line"></div>
          <div class="block_item purhcases">
            <p class="need"><span class="bg"><span class="icon">Order</span></span></p>
          </div>
        </div>
        <div class="block-item-wrapper">
          <div class="dashed-line"></div>
          <div class="block_item purhcases">
            <p class="need"><span class="bg"><span class="icon">Supplier Invoice (Purchases)</span></span></p>

            <mat-accordion>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Purchases Merchandise
                  </mat-panel-title>
                  <!-- <mat-panel-description>
                    This is a summary of the content
                  </mat-panel-description> -->
                </mat-expansion-panel-header>
                <div>
                  DR Inventory
                </div>
                <!-- <div>
                  DR Inventory
                </div> -->
                <div style="margin-left: 15px;">  
                  CR Account Payable
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Self aware panel
                  </mat-panel-title>
                  <mat-panel-description>
                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p>I'm visible because I am open</p>
              </mat-expansion-panel>
            </mat-accordion>
            
 
          </div>
        </div>
        <div class="block-item-wrapper">
          <div class="dashed-line"></div>
          <div class="block_item purhcases">
            <p class="need"><span class="bg"><span class="icon">Payment (Purchases)</span></span></p>

            <div class="block_subitem">
              <div>
                DR Account Payable
              </div>
              <div style="margin-left: 15px;">  
                CR Cash
              </div>
              <!-- <div>
                DR 
              </div>
              <div style="margin-left: 15px;">  
                CR Account Payable
              </div> -->
            </div>
          </div>
        </div>
        <div class="block-item-wrapper">
          <div class="dashed-line"></div>
          <div class="block_item sales">
            <p class="need"><span class="bg"><span class="icon">Request</span></span></p>
          </div>
        </div>
        <div class="block-item-wrapper">
          <div class="dashed-line"></div>
          <div class="block_item sales">
            <p class="need"><span class="bg"><span class="icon">Customer Invoice(Sales)</span></span></p>
            <div class="block_subitem">
              <div>
                DR Account Receivable
              </div>
              <div style="margin-left: 15px;">  
                CR Sales
              </div>
              <div>
                DR COGS
              </div>
              <div style="margin-left: 15px;">  
                CR Inventory
              </div>
            </div>
          </div>
        </div>
        <div class="block-item-wrapper">
          <div class="dashed-line"></div>
          <div class="block_item sales">
            <p class="need"><span class="bg"><span class="icon">Payment (Sales)</span></span></p>
            <div class="block_subitem">
              <div>
                DR Cash
              </div>
              <div style="margin-left: 15px;">  
                CR Account Receivable
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>