<p>{{title04}}</p>

<div class="d-flex">  
    <div class="col-6">     
        <div>
            <mat-form-field class="col-12" appearance="fill">
                <mat-label>Code</mat-label>
                <input [value]="accHead.code"(change)="codeChange($event)" matInput>
            </mat-form-field>
        </div>
    </div>
    <div class="col-6">    
        <div>
            <mat-form-field class="col-12" appearance="fill">
                <mat-label>Account Head</mat-label>
                <input [value]="accHead.accountHeadName"(change)="AccountHeadNameChange($event)" matInput>
            </mat-form-field>
        </div>
    </div>
</div>
<div class="d-flex">
    <div class="ml-4">
        <button class="btn btn-primary" (click)="register()" type="submit">Register</button>
        <button class="btn btn-danger" (click)="clear()">Clear</button>
    </div>
</div>


<div class="col-12">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 col-12">
        
        <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> 
                <button  class="btn btn-outline-danger" (click)="deleteData(element.id)"> <i class="fas fa-trash-alt">Delete</i></button>
                &nbsp; <button  class="btn btn-outline-info" (click)="updateData(element.id)"> <i class="fas fa-trash-alt">Update</i></button>
                &nbsp; {{element.id}} 
            </td>
  
        </ng-container>


        <!-- Name Column -->

        <ng-container matColumnDef="accountHeadName">
            <th mat-header-cell *matHeaderCellDef> Account Head </th>
            <td mat-cell *matCellDef="let element"> {{element.accountHeadName}} </td>
        </ng-container>
        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef> Code </th>
            <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>
                
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
</div>

