<div>
    <button mat-button class="btn btn-primary" [matMenuTriggerFor]="option1">{{btnTitle}}</button>
</div>

<mat-menu #option1="matMenu" >
  <div *ngFor="let btnMenu of btnMenuList; let i = index">
    <button *ngIf="btnMenu.subBtn.length > 0" mat-menu-item [matMenuTriggerFor]="option2" (menuOpened)="getSubBtn(i+1)" (click)="triggerBtn(btnMenu.btnTitleName)">{{btnMenu.btnTitleName}}</button>
    <button *ngIf="btnMenu.subBtn.length == 0" mat-menu-item (click)="triggerBtn(btnMenu.btnTitleName)">{{btnMenu.btnTitleName}}</button>
  </div>
</mat-menu>
  
<mat-menu #option2="matMenu">
  <div>
    <button mat-menu-item *ngFor="let i of subBtn" (click)="triggerBtn(i.btnTitleName)">{{i.btnTitleName}}</button>
  </div>
</mat-menu>

